.header {
  height: 60px;
  width: 100%;
  position: fixed;
  background: var(--bg-02);
  border: 1px solid lightgray;

  display: flex;
  align-items: center;

  &__title {
    margin: 0 12px;
  }

  &__button {
    margin: 0 12px 0 auto;
  }
}
