/**
* Generated theme by Material Theme Generator
* https://materialtheme.arcsine.dev
* Fork at: https://materialtheme.arcsine.dev/?c=YHBhbGV0dGU$YHByaW1hcnk$YF48I2ZmZTE5MyIsIj9lcjwjZmZmNmRmIiwiO2VyPCNmZmQ1NzZ$LCIlPmBePCNlMGQ1ZDUiLCI~ZXI8I2Y2ZjJmMiIsIjtlcjwjZDNjNGM0fiwid2Fybj5gXjwjZmQ1MTUxIiwiP2VyPCNmZWNiY2IiLCI7ZXI8I2ZjMzczN34sIj9UZXh0PCMwMDAwMDAiLCI~PTwjZmZmMWNjIiwiO1RleHQ8I2ZmZmZmZiIsIjs9PCMyYzJjMmN$LCJmb250cz5bYEA8KC00fixgQDwoLTN$LGBAPCgtMn4sYEA8KC0xfixgQDxoZWFkbGluZX4sYEA8dGl0bGV$LGBAPHN1YiktMn4sYEA8c3ViKS0xfixgQDxib2R5LTJ$LGBAPGJvZHktMX4sYEA8YnV0dG9ufixgQDxjYXB0aW9ufixgQDxpbnB1dCIsInNpemU$bnVsbH1dLCJpY29uczxGaWxsZWQiLCI~bmVzcz50cnVlLCJ2ZXJzaW9uPjEzfQ==
*/

@use '@angular/material' as mat;

// Compute font config
@include mat.core();

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.

// Fonts
@import 'https://fonts.googleapis.com/icon?family=Material+Icons';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

$typography:  mat.define-typography-config();
@include mat.typography-hierarchy($typography);

$theme: mat.define-light-theme((
        color: (
                primary: mat.define-palette(mat.$blue-grey-palette),
                accent: mat.define-palette(mat.$teal-palette)
                //is-dark: false,
               // foreground: $light-foreground,
               // background: $light-background,
        ),
        typography: $typography
));

// Theme Init
@include mat.all-component-themes($theme);

body {
  background-color: white;
  //color: white;
}

.material-icons {
  font-size: 24px;
  font-family: 'Material Icons', 'Material Icons';

  .mat-badge-content {
    font-family: 'Roboto';
  }
}
